::-webkit-scrollbar {
  width: 10px;
}
    
::-webkit-scrollbar-thumb:hover {
  width: 10px;
}
    
::-webkit-scrollbar-track {
  background: white;
}
    
::-webkit-scrollbar-thumb {
  background: #888;
}
    
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
  width: 20px;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-weight: 400;
}

h1 {
  text-align: center;
}

.container {
  justify-content: space-between;
}

.width {
  width: 18rem;
}

body, .card, hr {
  background-color: black;
  color: #009879;
  border-color: rgba(255, 255, 255, 0.671);
  border-width: 2px;
}

button:hover {
  animation-name: scale;
  animation-timing-function: linear;
  animation-duration: 50ms;
  background-color: white;
  border-color: white;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    scale: 100%;
  }
  to {
    scale: 110%;
  }
}

button:active {
  animation-name: scalea;
  animation-timing-function: linear;
  animation-duration: 50ms;
}

@keyframes scalea {
  from {
    scale: 100%;
  }
  to {
    scale: 80%;
    rotate: 10deg;
  }
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

img {
  height: 200px;
}