::-webkit-scrollbar {
  width: 10px;
}
    
::-webkit-scrollbar-thumb:hover {
  width: 10px;
}
    
::-webkit-scrollbar-track {
  background: white;
}
    
::-webkit-scrollbar-thumb {
  background: #888;
}
    
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
  width: 20px;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-weight: 400;
}

h1 {
  text-align: center;
}

.container {
  justify-content: space-between;
}

.width {
  width: 18rem;
}

body, .card, hr {
  background-color: black;
  color: green;
  border-color: rgba(255, 255, 255, 0.671);
  border-width: 2px;
}

button:hover {
  animation-name: scale;
  animation-timing-function: linear;
  animation-duration: 50ms;
  background-color: white;
  border-color: white;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    scale: 100%;
  }
  to {
    scale: 110%;
  }
}

button:active {
  animation-name: scalea;
  animation-timing-function: linear;
  animation-duration: 50ms;
}

@keyframes scalea {
  from {
    scale: 100%;
  }
  to {
    scale: 80%;
    rotate: 10deg;
  }
}